.button {;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 0;
  font-size: $font-size-medium;
  font-weight: 400;
  padding: 0.75rem;
  cursor: pointer;
  border: none;
  border-radius: 2.5em;
  transition: all .3s ease;
  //@include transition(background-color 100ms linear);

  &:hover {
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }

  & .loader {
    display: none;
  }

  &.loading {

    & .loader {
      display: block;

      & + span {
        display: none;
      }
    }

  }

  &.color-orange {
    background-color: $color-orange;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-grey-dark;
    }
  }

}

.btn-main-cta,
.btn-cart {
  background-color: $color-orange;
  color: $color-white;

  &:hover {

    background-color: $color-orange;

  }
}


.btn-update {
  background-color: white;
  border: 1px solid #000;

  @include bp-medium {
    font-size: 0.7rem;
  }

}

.btn-in-input-field {
  & button {
    position: absolute;
    right: 0;
    top: 0;
    width: inherit;
    padding: 0 1rem;
    background-color: transparent;
    border: 1px solid $color-black;
    font-size: $font-size-base;
  }
}

.icon-link {
  text-decoration: none;
}