body {
  font-family: 'Lato', sans-serif;
  color: $color-anchor;
  line-height: $base-line-height;
  font-size: $base-font-size;
}

h1 {
  font-size: $h1-font-size;
  line-height: $h1-font-size;

  @include bp-medium {
    font-size: $h1-font-size-tablet;
  }


  @include bp-large {
    font-size: $h1-font-size-desktop;
  }

}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-font-size;
  color: $color-brown;
  @include bp-medium {
    font-size: $h2-font-size-small;
    line-height: $h2-font-size-small;
  }
  &.section-title {
    color: $color-white;
  }
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-font-size;
  color: $color-brown;
  @include bp-medium {
    font-size: $h3-font-size-small;
    line-height: $h3-font-size-small;
  }
}

h4 {
  font-size: $h4-font-size;
  line-height: $h4-font-size;
  color: $color-brown;
  @include bp-medium {
    font-size: $h4-font-size-small;
    line-height: $h4-font-size-small;
  }
}

h5 {
  font-size: $h5-font-size;
  line-height: $h5-font-size;
}

.seperator:after {
  content: "";
  height: 2px;
  width: 36px;
  display: block;
  margin: 18px 0 40px 0;
  background: $color-orange;
}

.middle {
  text-align: center;

  &.seperator:after {
    margin-left: auto;
    margin-right: auto;
  }
}

.subtitle.seperator:after {
  margin: 40px auto;
}

.subtitle + p {
  text-align: center;
  margin: 0;
  color: $color-grey-light;
  font-style: italic;
  margin-top: -4.5rem;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: $color-anchor;

  &:hover {
    text-decoration: underline;
  }
}

a.icon {
  color: $color-grey-dark;
  transition: all .3s ease;
  &:hover {
    text-decoration: none;
    color: $color-orange;
  }
}