//-- colors:start --//
$color-black: #000000;
$color-brown: #4a2721;
$color-orange: #fa5102;
$color-white: #fff;

$color-grey-dark: #45464b;
$color-grey-light: #98a2a4;
$color-grey-lighter: #f2f6f7;

$color-validate-success: #00C853;
$color-validate-failed: #f00;

$color-anchor: #333;

//-- colors:end --//

//-- typo:start --//
$font-defaults: 'Lato, Arial', sans-serif;
$font-awesome: 'font-awesome', sans-serif;
//-- typo:end --//

$font-size-base: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 2rem;

$h1-font-size: 8vw;
$h1-font-size-tablet: 40px;
$h1-font-size-desktop: 60px;

$h2-font-size: 3rem;
$h2-font-size-small: 2rem;

$h3-font-size: 2rem;
$h3-font-size-small: 1.6rem;
$h4-font-size: 1.6rem;
$h4-font-size-small: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

//default img with
img {
  width: 100%;
}

$segment-padding: 3rem 0;
$segment-padding-small: 2rem 0;
$segment-padding-bottom: 0 0 3rem;
$segment-padding-bottom-small: 0 0 2rem;