---
layout: default
title: Speakers
permalink: /speakers/
---
<div class="container mb-5 speakers">
    <div class="row">
        <div class="col-md-12">
           <div class="row">
                {% for speaker in site.speakers %}
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="card h-100 border-0">
                            {% if speaker.img %}
                                <a href="{{ speaker.url }}">
                                    <img class="card-img-top" src="/assets/images/speakers/{{ speaker.img }}" alt="{{ page.name }}"/>
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title h5">
                                    <a href="{{ speaker.url }}">{{ speaker.name }}</a>
                                </h3>
                                <p class="card-text">
                                    <a href="{{ speaker.url }}" class="text-body">{{ speaker.title }}</a>
                                </p>

                                {% if speaker.twitter or speaker.website %}
                                    <ul class="list-inline">
                                        {% if speaker.linkedin %}
                                        <li class="list-inline-item">
                                            <a href="{{ speaker.linkedin }}"
                                               title="{{ speaker.name }} on Twitter" rel="noreferrer nofollow noopener"
                                               target="_blank">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if speaker.website %}
                                        <li class="list-inline-item">
                                            <a href="{{ speaker.website }}" title="{{ speaker.name }} on the web"
                                               rel="noreferrer nofollow noopener" target="_blank">
                                                <i class="fa fa-globe-africa"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!--
<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <h2>We're looking for speakers</h2>
            <p>
                We haven't announced any speakers for this event yet. But stay tuned, we'll make sure they'll be added to
                this page.
            </p>
            <p>
                If you want to speak at MageTitans Groningen yourself, please <a href="{{ site.cfplink }}" target="_blank">fill in our call for papers</a>.
            </p>
        </div>
    </div>
</div>
-->
