---
layout: default
title: Sponsors
permalink: /sponsors/
---

<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                We are very proud of our sponsors and their commitment to this event.
            </p>

            {% for group in site.data.sponsors.groups %}
                {% if group.sponsors %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12 sponsors__grid mb-3">
                                <h3>{{ group.title }}</h3>
                                <ul class="sponsors {{ group.name }}">
                                    {% for item in group.sponsors %}
                                    <li class="sponsor">
                                        <a href="{{ item.link }}" title="{{ item.name }}">
                                            <img src="/assets/images/sponsors/{{ item.logo }}" alt="{{ item.name }}" title="{{ item.name }}" />
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Get Involved</h2>
            <p>
                Mage Titans is a partnership among the Magento developer community.
            </p>
            <p>
                We hope that Mage Titans will continue to be an annual event and
                an essential part of every Magento developer’s calendar. To do
                this we need brilliant people to get involved. Interested?
                Please download your Sponsorship Pack. We are also open to Gold,
                Silver, and After-Party sponsors as well as the all-important
                community supporters, download the pack for more information.
            </p>
            <p>
                <a href="{{ "/assets/sponsor_document_MageTitans.pdf" }}" target="_blank" title="Download sponsor document">Download</a>
            </p>
        </div>
    </div>
</div>
