<div class="page-footer-before">
    <div class="container">
        <div class="col-md-12 py-4">
            <div class="newsletter-container row">
                <p class="h4 col-md-4 mb-0">Sign Up For Our Newsletter</p>
                <div id="mc_embed_signup" class="col-md-8">
                    <form action="https://twitter.us17.list-manage.com/subscribe/post?u=2923c00e2831a8a18c359d5d2&amp;id=bf0ea7e2f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
                        <div id="mc_embed_signup_scroll">
                            <div class="row">
                                <div class="col-md-8 pr-md-0">
                                    <input type="email" value="" name="EMAIL" placeholder="Enter Your Email Address" class="form-control" id="mce-EMAIL" aria-required="true" required="required">
                                </div>
                                <div class="actions col-md-4 pl-md-0">
                                    <button class="btn btn-primary" id="mc-embedded-subscribe" name="subscribe">Subscribe</button>
                                </div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2923c00e2831a8a18c359d5d2_bf0ea7e2f5" tabindex="-1" value=""></div>
                            <div class="row">
                                <div id="mce-responses" class="col-md-12">
                                    <div class="response bg-warning py-3" id="mce-error-response" style="display: none"></div>
                                    <div class="response bg-success py-3" id="mce-success-response" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='BIRTHDAY';ftypes[3]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer py-4 px-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-sm-4">
                <p class="h4">Organisation</p>
                <p>Brought to you by the Mage Titans Team, in partnership with Elgentos & Space 48.</p>
            </div>
            <div class="col-md-3 mb-sm-4">
                <p class="h4">Useful Links</p>
                <ul class="list-unstyled">
                    <li><a href="/get-in-touch/">Get in Touch</a></li>
                    <li><a href="/code-of-conduct/">Code of Conduct</a></li>
                    <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-sm-4">
                <p class="h4">Social Media</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://x.com/{{ site.twitter_username }}"><span class="fab fa-twitter"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
