<div class="page-footer-before">
    <div class="container">
        <div class="col-md-12 py-4">
            <div class="newsletter-container row">
                <script>
                    (function (s, e, n, d, er) {
                        s['Sender'] = er;
                        s[er] = s[er] || function () {
                            (s[er].q = s[er].q || []).push(arguments)
                        }, s[er].l = 1 * new Date();
                        var a = e.createElement(n),
                            m = e.getElementsByTagName(n)[0];
                        a.async = 1;
                        a.src = d;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
                    sender('99694e40013623')
                </script>
                <div class="sender-form-field" data-sender-form-id="m029os9jaxox9e0bkos"></div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer py-4 px-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-sm-4">
                <p class="h4">Organisation</p>
                <p>Brought to you by the Mage Titans Team, in partnership with Elgentos.</p>
            </div>
            <div class="col-md-3 mb-sm-4">
                <p class="h4">Useful Links</p>
                <ul class="list-unstyled">
                    <li><a href="/get-in-touch/">Get in Touch</a></li>
                    <li><a href="/code-of-conduct/">Code of Conduct</a></li>
                    <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
