<script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
   window.__pushpro = {
     site_uuid: "1f5e40d8-4e18-4f63-a890-12f693d726d7",
     optIn: "true",
     icon: "https://storage.googleapis.com/push-pro-site-images/63f83ce5-0118-4aa1-89ac-d7e5e953bdc9.jpeg",
     title: "HI there!",
     content: "Can we send you some messages when we've got something interesting to tell you? We won't spam you, we promise!",
   }
</script>
<script src="https://storage.googleapis.com/push-pro-java-scripts/pushpro-lib.js"></script>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
