// Import external resources
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,600');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

// Import customisation
@import "custom/variables";
@import "bootstrap/scss/bootstrap";

// Mixins
@import "mixin/utilities";

// Layout Updates
@import "custom/layout/common";
@import "custom/layout/header";
@import "custom/layout/footer";

// Page Specific
@import "custom/page/home";
