//img {
//    max-width: 100%;
//}
//
//
//// Home Page
.home-banner {
    background: url(/assets/images/homepage-header.jpg) 50% 50% no-repeat;
    height: 100vh;
    padding: 150px 0 60px;

    .home-intro {
        background: rgba(0, 0, 0, .65);
        color: $color-white;
        padding: 30px;
    }
}
//
//.maps {
//    width: 100%;
//    height: 400px;
//    position: relative;
//    display: block;
//}
