$brand-primary:                   #ee7402;

$navbar-height:                   130px;
$navbar-default-bg:               #000000;
$navbar-default-border:           #000000;
$navbar-padding-vertical:         15px;
$navbar-default-link-color:       #ffffff;
$navbar-default-link-hover-color: #ee7402;

$font-size-base:                  16px;
$line-height-base:                1.6842;

$input-border-focus:              #ee7402;

$font-family-navbar:              Raleway, arial, sans-serif;