.home-banner {
    background: url(/assets/images/homepage-header.jpg) 50% 50% no-repeat;
    height: 100vh;
    padding: 150px 0 60px;

    .home-intro {
        background: rgba(0, 0, 0, .65);
        color: #fff;
        padding: 30px;
    }
}