.sponsors__grid {
    margin-bottom: 6rem;

    h3 {
        text-align: center;
        font-weight: 600;
        color: #ee7402;
    }

    ul.sponsors {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li.sponsor {
            display: block;
            margin: 10px;

            a {
                display: block;

                img {
                    max-width: 175px;
                    width: 175px;
                    height: auto;

                    @include media-breakpoint-up(sm) {
                        max-width: 150px;
                        width: 150px;
                    }
                }
            }
        }

        &.headline {
            li.sponsor a img {
                max-width: 320px;
                width: 320px;
            }
        }

        &.gold {
            li.sponsor a img {
                max-width: 240px;
                width: 240px;
            }
        }
    }
}
