.page-footer-before {
    border-top: 1px solid $gray-500;
    background: $gray-100;

    .newsletter-container {
        .h4 {
            line-height: 1.5;
        }

        input.form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .actions .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.page-footer {
    background: $gray-800;
    color: $white;
    font-weight: $font-weight-light;

    a {
        color: $white;
    }
}

/* ----------------------------------------
 * Mobile
 * ---------------------------------------- */

@media (max-width: map-get($grid-breakpoints, 'sm')) {
    .page-footer-before {
        .newsletter-container {
            .h4 {
                margin-bottom: 1rem !important;
            }

            input.form-control {
                border-top-right-radius: $btn-border-radius;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .actions .btn {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: $btn-border-radius;
                width: 100%;
            }
        }
    }
}