.navbar {
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    background: rgba(0, 0, 0, .75) !important;

    .navbar-nav > li > a {
        padding: 2.2509764em 15px;
        line-height: 1.75;
        color: $white;

        &:hover {
            color: $primary;
        }
    }

    .navbar-brand {
        color: $white;
    }
}

.page-title {
    height: 45vh;
    color: $white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-nav > li > a {
        padding: .5rem 15px;
    }
}