.navbar {
    padding: 0.5rem 0;
    background-color: black;
    top: 0;
    position: sticky;
    z-index: 100;

    .navbar-nav > li > a {
        padding: 2.2509764em 15px;
        line-height: 1.75;
        color: $white;
        text-transform: uppercase;


        &:hover {
            color: $primary;
        }
    }

    .navbar-brand {
        color: $white;
    }

    .navbar-nav .nav-link {
        color: rgba(255,255,255,1);

    }
}

.page-title {
    height: 45vh;
    color: $white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-nav > li > a {
        padding: .5rem 15px;
    }
}
