---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <div class="post__image"></div>
    <div class="grid-container">
        <div class="post__header__wrapper">
          <h1 class="post__title middle" itemprop="name headline">{{ page.title }}</h1>
          <p class="post__meta middle seperator">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>{% if page.author %}
            •
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
            •
            {% include read_time.html %}
          </p>
        </div>
    </div>
  </header>

  <div class="post__content" itemprop="articleBody">
    <div class="grid-container">
      <div class="desktop-grid-80 desktop-prefix-10 grid-100">
        {{ content }}
      </div>
    </div>
  </div>

</article>
