---
layout: speaker-layout
---

<div class="container speaker-page">
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="speaker__avatar">
                <img src="/assets/images/speakers/placeholder.jpg" alt="{{ page.name }}"/>
            </div>
            <div class="speaker__name">
                <h3>{{ page.name }}</h3>
            </div>
            <div class="speaker__links">
                <ul class="list-group">
                    {% if page.linkedin %}
                    <li class="list-group-item border-0 px-0 py-1">
                        <a href="{{ page.linkedin }}"
                           title="{{ page.name }} on LinkedIn" rel="noreferrer nofollow noopener"
                           target="_blank">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </li>
                    {% endif %}
                    {% if page.website %}
                    <li class="list-group-item border-0 px-0 py-1">
                        <a href="{{ page.website }}" title="{{ page.name }} on the web"
                           rel="noreferrer nofollow noopener" target="_blank">
                            <i class="fa fa-globe-africa"></i> Website
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>
